*{
    color: #493e53;
    font: normal 20pt monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #d6b8f5;
}

nav#operacoes{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
}

nav#operacoes a{
    padding: 10px;
    transition: 0.3s;
}

nav#operacoes a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5f5f5;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    justify-content: center;
}

h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

label{
    font-size: 0.8em;
}

input{
    box-shadow: 2px 2px 10px #5a055a;
    border: none;
    margin-bottom: 20px;
    width: 150px;
}

div{
    margin-bottom: 20px;
}

footer{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

footer p,
footer a{
    color: whitesmoke;
    font-family: arial;
    font-size: 0.6em;
    line-height: 30px;
}

footer a:hover{
    color: #493e53;
    text-decoration: underline;
}